/* Desain Navbar */
.div_picture{
    display: flex;
    justify-content: space-between;
}

.header_picture{
    width: 50px;
}

.header_picture2{
    width: 50px;
    /* margin-right: 300px; */
}

.searchh{
    background-color: #D9D9D9;
    border: 1px #D9D9D9;
    border-radius: 5px;
    
}

.imgs{
    width: 50px;
}

/* Desain map */
#map{
    position: relative;
    width: 100%; /* contoh: sesuaikan dengan kebutuhan tata letak */
    height: 500px; /* atau atur sesuai keinginan */
}

.background_order{
    background-color: #86B6F6;
    padding: 10px;
}

.back_back{
    text-align: center;
}

.back_back1{
    text-align: center;
}
.sub_order{
    background-color: #BDFDFD;
    border: 1px #BDFDFD;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 200px;
}

.but{
    background-color: #D9D9D9;
    border: 1px #D9D9D9;
    border-radius: 5px;
    width: 350px;
    height: 35px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f0f0f0;
    width: 300px;
    /* margin-right: 300px; */
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    font-size: 16px;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}
